@import './typography.scss';
@import './variables.scss';
@import './bulma.scss';

*,
*::before,
*::after {
	box-sizing: border-box;
	overflow-wrap: break-word;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: $font-family-base, $font-family-base-th, -apple-system,
		BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
		Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.mb-1 {
	margin-bottom: 8px;
}

.mb-2 {
	margin-bottom: 16px;
}
