@font-face {
	font-family: 'IBM-Plex-Sans';
	src: url('/fonts/IBM-Plex-Sans/ttf/IBMPlexSans-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'IBM-Plex-Sans';
	src: url('/fonts/IBM-Plex-Sans/ttf/IBMPlexSans-Text.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'IBM-Plex-Sans';
	src: url('/fonts/IBM-Plex-Sans/ttf/IBMPlexSans-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'IBM-Plex-Sans';
	src: url('/fonts/IBM-Plex-Sans/ttf/IBMPlexSans-Bold.ttf');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'IBM-Plex-Sans-Thai';
	src: url('/fonts/IBM-Plex-Sans-Thai/ttf/IBMPlexSansThai-Light.ttf');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'IBM-Plex-Sans-Thai';
	src: url('/fonts/IBM-Plex-Sans-Thai/ttf/IBMPlexSansThai-Text.ttf');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'IBM-Plex-Sans-Thai';
	src: url('/fonts/IBM-Plex-Sans-Thai/ttf/IBMPlexSansThai-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'IBM-Plex-Sans-Thai';
	src: url('/fonts/IBM-Plex-Sans-Thai/ttf/IBMPlexSansThai-Bold.ttf');
	font-style: normal;
	font-weight: 600;
}
